@media (max-width:780px) {
main{
    grid-template-columns: 1fr;
    padding: 2rem;
    }

.product-list {
   width: 200px;
   flex-grow: 1;
}

  
}


@media (max-width:480px) {

.main-modal{
  padding: 1rem;
  width: 300px;
}
    
}
